<div 
    class="col-lg-6 wow fadeInUp" 
    data-wow-duration="1.5s" 
    data-wow-delay="400ms" 
    style="visibility: visible; animation-duration: 1.5s; animation-delay: 400ms; animation-name: fadeInUp;">
    <div class="single-intro-text mb-30">
        <i 
            class="icon" 
            [ngClass]="intro.icon">
        </i>
        <h3 class="ts-title">{{ intro.reason }}</h3>
        <p>{{ intro.details }}</p>
        <span class="count-number">{{ intro.number }}</span>
    </div><!-- single intro text end-->
</div><!-- col end-->
