<section class="hero-area centerd-item">
  <div class="banner-item" style="background-image:url(./assets/images/hero_area/lowpoly.png)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div 
            class="banner-content-wrap text-center"
            *ngIf="heroComponentData$ | async as data">

            <p class="banner-info">{{ data.dateAndVenueText || '16 February 2019, TCS Sahyadri Park, Pune' }}</p>
            <h1 class="banner-title">{{ data.meetupName || 'WebStack Angular Meetup' }}</h1>

            <div class="countdown">
              <app-event-countdown></app-event-countdown>
            </div>
            <!-- Countdown end -->
            <div class="banner-btn">
              <app-register-button></app-register-button>
            </div>

          </div>
          <!-- Banner content wrap end -->
        </div>
        <!-- col end-->

      </div>
      <!-- row end-->
    </div>
    <!-- Container end -->
  </div>

</section>