<section class="hero-area centerd-item">
  <div class="banner-item" style="background-image:url(./assets/images/hero_area/banner2.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="banner-content-wrap text-center">

            <p class="banner-info">5 to 7 June 2019, Waterfront Hotel, London</p>
            <h1 class="banner-title">digital thinkers Meet up</h1>

            <div class="countdown">
              <app-event-countdown></app-event-countdown>
              <app-event-countdown></app-event-countdown>
              <app-event-countdown></app-event-countdown>
              <app-event-countdown></app-event-countdown>
            </div>
            <!-- Countdown end -->
            <div class="banner-btn">
              <a href="#" class="btn">Buy Ticket</a>
            </div>

          </div>
          <!-- Banner content wrap end -->
        </div>
        <!-- col end-->

      </div>
      <!-- row end-->
    </div>
    <!-- Container end -->
  </div>

</section>