<div
  *ngIf="speaker"
  class="modal fade"
  id="speakerModal{{ speaker.id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="speakerModalModalLabel"
  aria-hidden="true"
>
  <div class="speaker-modal modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-lg-6 p-r-0">
            <img class="speaker-image" [src]="speaker.image" alt="" />
            <button
              type="button"
              class="close btn-close hidden-sm"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="col-lg-6 p-a-4 text-left">
            <button
              type="button"
              class="close btn-close hidden-xs"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="ts-speaker-popup-content">
              <h3 class="ts-title">{{ speaker.name }}</h3>
              <span class="speakder-designation d-block m-t-10 m-b-20">{{
                speaker.designation
              }}</span>
              <img
                class="company-logo speaker-image m-b-15"
                [src]="speaker.companyLogo"
                alt=""
              />
              <p class="m-b-25">{{ speaker.details }}</p>
              <h4 class="session-name m-b-15">
                Sessions by {{ speaker.name }}
              </h4>
              <div class="row">
                <div class="col-lg-6">
                  <div class="speaker-session-info">
                    <h4>{{ speaker.sessionDetails.date }}</h4>
                    <span> {{ speaker.sessionDetails.timeslot }} </span>
                    <p class="text-magenta m-b-25">
                      {{ speaker.sessionDetails.title }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="ts-speakers-social">
                <a
                  target="_blank"
                  *ngIf="speaker.github"
                  [href]="'https://github.com/' + speaker.github"
                  class="social"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.twitter"
                  [href]="'https://www.twitter.com/' + speaker.twitter"
                  class="social"
                >
                  <i class="fa fa-twitter"></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.linkedIn"
                  [href]="'https://www.linkedin.com/in/' + speaker.linkedIn"
                  class="social"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.medium"
                  [href]="'https://medium.com/' + speaker.medium"
                  class="social"
                >
                  <i class="fa fa-medium"></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.youtube"
                  [href]="'https://www.youtube.com/' + speaker.youtube"
                  class="social"
                >
                  <i class="fa fa-youtube"></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.facebook"
                  [href]="'https://www.facebook.com/' + speaker.facebook"
                  class="social"
                >
                  <i class="fa fa-facebook "></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.instagram"
                  [href]="'https://www.instagram.com/' + speaker.instagram"
                  class="social"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  target="_blank"
                  *ngIf="speaker.googlePlus"
                  [href]="'https://plus.google.com/+' + speaker.googlePlus"
                  class="social"
                >
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
            <!-- ts-speaker-popup-content end-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
