.btn-close{
    top: .5rem;
    position: absolute;
    right: 1.7rem;
}
.speaker-image  {
    -webkit-transform: unset!important;
    transform: unset!important;
    height: 100%;
    width: 100%;
}
.company-logo.speaker-image{
    width: auto!important;
}
.p-a-4{
    padding: 4rem;
}
.social{
    color: #888888;
    padding-right: 18px; 
}
.social:hover{
    color: #e7015e; 
}
.text-magenta{
    color: #e7015e;
}
@media (min-width: 980px){
    .hidden-sm{
        display: none;
    }
}
@media (max-width: 979px){
    .hidden-xs{
        display: none;
    }
}
.m-t-10{
    margin-top: 10px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-25{
    margin-bottom: 25px;
}

.speaker-modal {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
@media (min-width: 576px) {
    .speaker-modal {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .speaker-modal {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .speaker-modal {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .speaker-modal {
        max-width: 1140px;
    }
}
