<div class="modal fade" id="speakerModal" tabindex="-1" role="dialog" aria-labelledby="speakerModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
            <div class="row">
                <div class="col-lg-6 p-r-0">
                  <img class="speaker-image" src="assets/images/speakers/speaker7.jpg" alt="">
                  <button type="button" class="close btn-close hidden-sm" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-lg-6 p-a-4 text-left">
                    <button type="button" class="close btn-close hidden-xs" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="ts-speaker-popup-content">
                      <h3 class="ts-title">David Robert</h3>
                      <span class="speakder-designation d-block">Cheif Architecture</span>
                      <img class="company-logo speaker-image" src="assets/images/sponsors/sponsor-6.png" alt="">
                      <p>
                        World is committed to making participation in the event a harass ment free experience for everyone, regardless of level experience
                        gender, gender identity and expression
                      </p>
                      <h4 class="session-name">
                        Sessions by David
                      </h4>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="speaker-session-info">
                            <h4>Day 1</h4>
                            <span>
                              10.30 - 11.30 am
                            </span>
                            <p class="text-magenta">
                              Marketing Matters
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="ts-speakers-social">
                        <a href="#">
                          <i class="fa fa-facebook social"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter social"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-instagram social"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-google-plus social"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-linkedin social"></i>
                        </a>
                      </div>
                    </div>
                    <!-- ts-speaker-popup-content end-->
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>