<section id="ts-experiences" class="ts-experiences">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 no-padding">
        <div
          class="exp-img"
          style="background-image:url(./assets/images/cta_img.jpg)"
        ></div>
      </div>
      <!-- col end-->
      <div
        class="col-lg-6 no-padding align-self-center wow fadeInUp"
        data-wow-duration="1.5s"
        data-wow-delay="500ms"
        style="visibility: visible; animation-duration: 1.5s; animation-delay: 400ms; animation-name: fadeInUp;"
      >
        <div class="ts-exp-wrap">
          <div class="ts-exp-content">
            <h2 class="column-title">
              <span>Get Experience</span> Shift your perspective about the web
            </h2>
            <p>
              Get to know about various web technologies from subject matter
              experts and highly experienced professionals
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
