<section 
  id="ts-speakers" 
  class="ts-speakers" 
  style="background-image:url(./assets/images/speakers/speaker_bg.png)">
  <div class="container">
    <app-heading
      smallTitle="LISTEN TO THE"
      bigTitle="Event Speakers">
    </app-heading>
    <div class="row">
      <div 
        class="col-lg-3 col-md-6"
        *ngFor="let speaker of speakers; let i = index;">
          <app-speaker-card-square [speaker]="speaker" [imgStyle]="'speaker-classic'"></app-speaker-card-square>
      </div>
    </div>    
    <div class="speaker-shap">
      <img class="shap1" src="assets/images/shap/home_speaker_memphis1.png" alt="">
      <img class="shap2" src="assets/images/shap/home_speaker_memphis2.png" alt="">
      <img class="shap3" src="assets/images/shap/home_speaker_memphis3.png" alt="">
    </div>
  </div>  
</section> 