<section class="ts-blog section-bg">
    <div class="container">
        <app-heading
            smallTitle="INFO UPDATE"
            bigTitle="Latest News">
        </app-heading>
        <div class="row">
            <div 
                class="col-lg-4 wow fadeInUp" 
                data-wow-duration="1.5s" data-wow-delay="400ms"
                style="visibility: visible; animation-duration: 1.5s; animation-delay: 400ms; animation-name: fadeInUp;"
                *ngFor="let article of articles">
                <app-news-card
                    [article]="article">
                </app-news-card>
            </div>
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
    <!-- shap image-->
    <div class="speaker-shap">
        <img class="shap2" src="assets/images/shap/news_memphis2.png" alt="">
    </div>
</section>