<section class="ts-blog section-bg">
    <div class="container">
        <app-heading></app-heading>
        <div class="row">
            <div class="col-lg-4">
                <app-news-card></app-news-card>
            </div>
            <!-- col end-->
            <div class="col-lg-4">
                <app-news-card></app-news-card>
            </div>
            <!-- col end-->
            <div class="col-lg-4">
                <app-news-card></app-news-card>
            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
    <!-- shap image-->
    <div class="speaker-shap">
        <img class="shap2" src="assets/images/shap/news_memphis2.png" alt="">
    </div>
</section>