<div class="direction-tabs-content">
    <h3>Tata Consultancy Services Limited, Hinjewadi, Pune</h3>
    <p class="derecttion-vanue">
      Plot No. 2 & 3, Sahyadri Park Rajiv Gandhi Infotech Park, 
      <br> Hinjawadi-Maan, Phase 3, 
      <br> Hinjewadi Rajiv Gandhi Infotech Park, 
      <br> Hinjawadi, Pune, Maharashtra 411057
      <br> India
    </p>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <h3>Registration info </h3>
          <p>
            <strong>Name:</strong> Siddharth Ajmera</p>
          <p>
            <strong>Phone:</strong> 963-753-4304</p>
          <p>
            <strong>Email: </strong> siddajmera@outlook.com</p>
        </div>
  
      </div>
      <div class="col-md-6">
        <div class="contact-info-box">
          <h3>Programme Details </h3>
          <p>
            <strong>Name:</strong> Jagdeep Soni</p>
          <p>
            <strong>Phone:</strong> 844-648-2821</p>
          <p>
            <strong>Email: </strong> reach.jagdeep@gmail.com</p>
        </div>
      </div>
    </div>
    <!-- row end-->
  </div>