<div class="direction-tabs-content" *ngIf="(venueDetails$ | async) as details">
  <h3>{{ details.roomAndBuilding }}</h3>
  <p class="derecttion-vanue">
    <br />
    {{ details.campus }}, <br />
    {{ details.road }}, <br />
    {{ details.cityStateAndZipcode }}
  </p>
  <div class="row">
    <div class="col-md-6">
      <div
        class="contact-info-box"
        *ngIf="details.registrationInfo as registrationInfo"
      >
        <h3>Registration info</h3>
        <p><strong>Name:</strong> {{ registrationInfo.name }}</p>
        <p><strong>Phone:</strong> {{ registrationInfo.phone }}</p>
        <p><strong>Email: </strong> {{ registrationInfo.email }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="contact-info-box"
        *ngIf="details.programDetails as programDetails"
      >
        <h3>Programme Details</h3>
        <p><strong>Name:</strong> {{ programDetails.name }}</p>
        <p><strong>Phone:</strong> {{ programDetails.phone }}</p>
        <p><strong>Email: </strong> {{ programDetails.email }}</p>
      </div>
    </div>
  </div>
  <!-- row end-->
</div>
