<div class="post">
    <div class="post-media post-image">
       <a [href]="article.link" target="_blank">
         <img 
          [src]="article.image" 
          class="img-fluid" 
          alt="">
        </a>
    </div>

    <div class="post-body">
       <div class="post-meta">
          <span class="post-author">
               <a [href]="article.link" target="_blank">BY {{ article.author }}</a>
             </span>

          <div class="post-meta-date">
             {{ article.date }}
          </div>
       </div>
       <div class="entry-header">
          <h2 class="entry-title">
             <a [href]="article.link" target="_blank">{{ article.title }}</a>
          </h2>
       </div><!-- header end -->

       <div class="entry-content">
          <p>{{ article.description }}</p>
       </div>

       <div class="post-footer">
          <a [href]="article.link" target="_blank" class="btn-link">Read More <i class="icon icon-arrow-right"></i></a>
       </div>

    </div><!-- post-body end -->
 </div><!-- post end-->