<div class="direction-tabs-content">
  <h3>26th January, 2019 | 03.00 PM to 05.00 PM</h3>
  <p class="derecttion-vanue">
    The meetup will start at 03.00 PM and will end at 05.00 PM.
    <br> Please make sure that you reach 15-30 minutes prior to the event start.
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="contact-info-box">
        <h3>03.00 - 03.30 PM</h3>
        <p>
          <strong>Name:</strong> Siddharth Ajmera</p>
        <p>
          <strong>Talk Level:</strong> Beginner</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact-info-box">
        <h3>03.30 - 04.00 PM</h3>
        <p>
          <strong>Name:</strong> Pankaj Parkar</p>
        <p>
          <strong>Talk Level:</strong> Beginner</p>
      </div>
    </div>
  </div>
  <!-- row end-->
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="contact-info-box">
        <h3>04.00 - 04.30 PM</h3>
        <p>
          <strong>Name:</strong> Akshay Milmile</p>
        <p>
          <strong>Talk Level:</strong> Beginner</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact-info-box">
        <h3>04.30 - 05.00 PM</h3>
        <p>
          <strong>Name:</strong> Jane Doe</p>
        <p>
          <strong>Talk Level:</strong> Beginner</p>
      </div>
    </div>
  </div>
  <!-- row end-->
</div>