<div class="direction-tabs-content">
    <h3>S1 Poorna, TCS Sahyadri Park, Hinjawadi Phase 3, Pune, M.H. 411057</h3>
    <p class="derecttion-vanue">
        TCS Sahyadri Park Campus is in the heart of Hinjewadi and is easily accessible by public transport.
      <br> The Hinjewadi Phase 3 bus station is just 550 meters away. There is a bus stop right around the corner.
    </p>
    <h3>Travel Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <a href="https://www.google.com/maps/dir//S1+Poorna,+TCS,+411057,+Phase+3,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra+411057/@18.5813451,73.6501208,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x3bc2bb6cf733ec41:0x1f14e2a2315cbb1b!2m2!1d73.6851404!2d18.5813483!3e0">
            By Car
          </a>
        </div>  
      </div>
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
            <a href="https://www.google.com/maps/dir//S1+Poorna,+TCS,+411057,+Phase+3,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra+411057/@18.5813451,73.6501208,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bc2bb6cf733ec41:0x1f14e2a2315cbb1b!2m2!1d73.6851404!2d18.5813483!3e3">
              By Public Transport
            </a>
        </div>  
      </div>
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <a href="https://www.google.com/maps/dir//S1+Poorna,+TCS,+411057,+Phase+3,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra+411057/@18.5813451,73.6501208,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bc2bb6cf733ec41:0x1f14e2a2315cbb1b!2m2!1d73.6851404!2d18.5813483">
            Recommended Travel Mode
          </a>
        </div>  
      </div>
    </div>
    <!-- row end-->
  </div>