<div class="direction-tabs-content">
    <h3>Splendour, Megapolis, Hinjawadi Phase 3, Pune, M.H. 411057</h3>
    <p class="derecttion-vanue">
      Splendour, Megapolis is in the heart of Hinjewadi and is very good accessible by public transport.
      <br> The Hinjewadi Phase 3 bus station is just 350 meters away. There is a bus stop right around the corner.
    </p>
    <h3>Travel Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <a href="https://www.google.com/maps/dir//Megapolis,+Splendour,+MIDC+Phase+III+Main+Road,+Phase+3,+Hinjawadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pimpri-Chinchwad,+Maharashtra+411057,+India/@18.5783644,73.6514922,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x3bc2bb6dd0ffd64d:0x7ea8143824df9c0c!2m2!1d73.6865118!2d18.5782863!3e0">By Car</a>
        </div>  
      </div>
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
            <a href="https://www.google.com/maps/dir//Megapolis,+Splendour,+MIDC+Phase+III+Main+Road,+Phase+3,+Hinjawadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pimpri-Chinchwad,+Maharashtra+411057,+India/@18.5783644,73.6514922,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bc2bb6dd0ffd64d:0x7ea8143824df9c0c!2m2!1d73.6865118!2d18.5782863!3e3">By Public Transport</a>
        </div>  
      </div>
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <a href="https://www.google.com/maps/dir//Megapolis,+Splendour,+MIDC+Phase+III+Main+Road,+Phase+3,+Hinjawadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pimpri-Chinchwad,+Maharashtra+411057,+India/@18.5783644,73.6514922,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bc2bb6dd0ffd64d:0x7ea8143824df9c0c!2m2!1d73.6865118!2d18.5782863">Recommended Travel Mode</a>
        </div>  
      </div>
    </div>
    <!-- row end-->
  </div>