<div class="direction-tabs-content">
    <h3>Tata Consultancy Services Limited, Hinjewadi, Pune</h3>
    <p class="derecttion-vanue">
        TCS Sahyadri Park Campus is in the heart of Hinjewadi and is very good accessible by public transport.
      <br> The Hinjewadi Phase 3 bus station is just 550 meters away. There is a bus stop right in front of the In-Gate.
    </p>
    <h3>Travel Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <a href="https://www.google.com/maps/dir//Tata+Consultancy+Services+Limited,+Plot+No.+2+%26+3,+Sahyadri+Park+Rajiv+Gandhi+Infotech+Park,+Hinjawadi-Maan,+Phase+3,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra+411057/@18.5808998,73.651904,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x3bc2c065a7c56fcf:0xef9decaeddfce07f!2m2!1d73.6869235!2d18.580903!3e0">By Car</a>
        </div>  
      </div>
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
            <a href="https://www.google.com/maps/dir//Tata+Consultancy+Services+Limited,+Plot+No.+2+%26+3,+Sahyadri+Park+Rajiv+Gandhi+Infotech+Park,+Hinjawadi-Maan,+Phase+3,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra+411057/@18.5808998,73.651904,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bc2c065a7c56fcf:0xef9decaeddfce07f!2m2!1d73.6869235!2d18.580903!3e3">By Public Transport</a>
        </div>  
      </div>
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info-box">
          <a href="https://www.google.com/maps/dir//Tata+Consultancy+Services+Limited,+Plot+No.+2+%26+3,+Sahyadri+Park+Rajiv+Gandhi+Infotech+Park,+Hinjawadi-Maan,+Phase+3,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra+411057/@18.5808998,73.651904,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bc2c065a7c56fcf:0xef9decaeddfce07f!2m2!1d73.6869235!2d18.580903">Recommended Travel Mode</a>
        </div>  
      </div>
    </div>
    <!-- row end-->
  </div>