<section class="ts-intro-sponsors" style="background-image: url(./assets/images/sponsors/sponsor_img.jpg)">
    <div class="container">
        <app-heading
            smallTitle="WHO HELPS US"
            bigTitle="Our Sponsors">
        </app-heading>
       <div class="row">
          <div class="col-lg-12">
             <div class="sponsors-logo text-center">
                <a 
                    *ngFor="let sponsor of sponsors"
                    href="">
                    <img [src]="sponsor.image" alt="">
                </a>
                <div class="sponsor-btn text-center">
                   <a href="#" class="btn">Become a Sponsor</a>
                </div>
             </div><!-- sponsors logo end-->
          </div><!-- col end-->
       </div><!-- row end-->
    </div><!-- container end-->
 </section>